#date .datepicker table tr td,
#date .datepicker table tr th {
    width: 90px;
    height: 90px;
    border-radius: 0px;
}
#date .datepicker table tr td span {
    height: 90px;
    line-height: 90px;
    border-radius: 0px;
}
#date .datepicker .datepicker-switch {
  width: 450px;
}
#tripDetails {
    padding: 15px;
}

#tripDetails div.padding {
    margin-bottom: 10px;
}

.padding {
    padding: 15px;
}

.padding-sm {
    padding: 10px;
}

.margin-top {
    margin-top: 20px;
}

.timePickerWrapper a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.timePickerWrapper a:last-child .well {
    margin-bottom: 0px;
}

.timePickerWrapper .popover-content {
    padding: 15px;
}
.bigSpacer {
    margin-top: 30em;
}

#tripDetails .list-group .list-group-separator:before {
    width: 100%;
}