<div class="xtemplate" id="editTrip">
    <form class="form-horizontal" id="edit_trip" name="edit_trip">
        <fieldset>
            <input type="hidden" id="id" name="id">
            <div class="form-group">
                <label for="title" class="col-md-3 control-label">{{trans}}new trip title label{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="title" name="title" placeholder="{{trans}}new trip title placeholder{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="route" class="col-md-3 control-label">{{trans}}route label{{end trans}}</label>
                <div class="col-md-7">
                    <select class="form-control" id="route" name="route">
                        <option value="04:00">04:00</option>
                        <option value="05:30">05:30</option>
                        <option value="09:00">09:00</option>
                        <option value="15:00">15:00</option>
                        <option value="22:00">22:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="start_date" class="col-md-3 control-label">{{trans}}new trip date label{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="start_date" name="start_date" placeholder="{{trans}}new trip date placeholder{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="start_time" class="col-md-3 control-label">{{trans}}new trip time label{{end trans}}</label>
                <div class="col-md-7">
                    <select class="form-control" id="start_time" name="start_time">
                        <option value="04:00">04:00</option>
                        <option value="05:30">05:30</option>
                        <option value="09:00">09:00</option>
                        <option value="15:00">15:00</option>
                        <option value="22:00">22:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="vehicle" class="col-md-3 control-label">{{trans}}new trip vehicle label{{end trans}}</label>
                <div class="col-md-7">
                    <select class="form-control" id="vehicle" name="vehicle">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="driver" class="col-md-3 control-label">{{trans}}driver label{{end trans}}</label>
                <div class="col-md-7">
                    <select class="form-control" id="driver" name="driver">
                        <option value="04:00">04:00</option>
                        <option value="05:30">05:30</option>
                        <option value="09:00">09:00</option>
                        <option value="15:00">15:00</option>
                        <option value="22:00">22:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-3 control-label">{{trans}}trip price{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="price" name="price" value="0">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button type="button" class="btn btn-default cancel-trip">
                        {{trans}}cancel{{end trans}}
                        <div class="ripple-container"></div>
                    </button>
                    <button type="button" class="btn btn-primary save-trip">{{trans}}submit new{{end trans}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<div class="xtemplate" id="editTripVehicleOption">
    {{each elements}}<option value="{{id}}">{{name}}</option>{{end each}}
</div>


<div class="xtemplate" id="addTravelerToTrip">
    <form class="form-horizontal" id="add_traveler" name="add_traveler">
        <fieldset>
            <input type="hidden" id="traveler_id" name="traveler_id">
            <input type="hidden" id="trip_id" name="trip_id">
            <div class="form-group">
                <label for="traveler_name" class="col-md-3 control-label">{{trans}}traveler name{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="traveler_name" name="traveler_name" placeholder="{{trans}}traveler name{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-md-3 control-label">{{trans}}traveler phone{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="{{trans}}traveler phone{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="seats" class="col-md-3 control-label">{{trans}}traveler seats{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="seats" name="seats" placeholder="{{trans}}traveler seats{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="departure_city" class="col-md-3 control-label">{{trans}}traveler departure{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="departure_city" name="departure_city" placeholder="{{trans}}traveler departure{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="destination_city" class="col-md-3 control-label">{{trans}}traveler destination{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="destination_city" name="destination_city" placeholder="{{trans}}traveler destination{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="total_price" class="col-md-3 control-label">{{trans}}traveler total price{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="total_price" name="total_price" placeholder="{{trans}}traveler total price{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <label for="amount_paid" class="col-md-3 control-label">{{trans}}traveler paid{{end trans}}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="amount_paid" name="amount_paid" placeholder="{{trans}}traveler paid{{end trans}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <a href="#trip/{{tripId}}" type="button" class="btn btn-default cancel-traveler">
                        {{trans}}cancel{{end trans}}
                        <div class="ripple-container"></div>
                    </a>
                    <button type="button" class="btn btn-primary save-traveler">{{trans}}submit add traveler{{end trans}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<div class="xtemplate" id="displayTrip">
    <div class="row well-material-blue-50 padding">
        <div class="col-xs-10">
            <h4 class="text-muted">{{trans}}travelers{{end trans}}</h4>
        </div>
        <div class="col-xs-2">
            <a href="#addTraveler/{{id}}" class="btn btn-primary btn-flat save-trip">+</a>
        </div>
        <div id="addTraveler" style="clear:both;"></div>
            {{each travelers}}
            <h4 class="panel panel-{{reputationColor}}">
                <div class="panel-heading">
                    <div class="row">
                        <span class="col-xs-4 text-muted">{{name}}</span>
                        <span class="col-xs-4">
                            <span class="badge">{{seats}}</span>
                            {{trans}}seats{{end trans}}
                        </span>
                        <span class="col-xs-2">
                            <span class="label label-default">{{total_price}}</span>
                            {{trans}}ron{{end trans}}
                        </span>
                        <span class="col-xs-2">
                            <span class="label label-{{paidColor}}">{{paid}}</span>
                            {{trans}}paid{{end trans}}
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <span class="col-xs-4">{{phone}}</span>
                        <span class="col-xs-6 text-muted">{{from_city}} - {{to_city}}</span>
                        <a class="col-xs-2 text-muted" href="#editTraveler/{{trip_id}}/{{id}}">{{trans}}edit{{end trans}}</a>
                    </div>
                </div>
            </h4>
            {{end each}}
    </div>

    <h4 class="row well-material-blue-50">
        <ul class="list-group padding">
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}route label{{end trans}}</span><span class="col-xs-8">{{routeName}}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}departure time{{end trans}}</span><span class="col-xs-8">{{displayStartDate}}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}arrival time{{end trans}}</span><span class="col-xs-8">{{displayEndDate}}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}vehicle{{end trans}}</span><span class="col-xs-8">{{vehicleName}}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}driver label{{end trans}}</span><span class="col-xs-8">{{driverName}}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row padding-sm">
                    <span class="col-xs-4">{{trans}}occupied seats{{end trans}}</span><span class="col-xs-8">{{occupiedSeats}}</span>
                </div>
            </li>
        </ul>
    </h4>
    <a href="#editTrip/{{id}}" class="btn btn-success save-trip btn-flat">{{trans}}edit{{end trans}}</a>
</div>


<div class="xtemplate" id="listTripsForDay">
    {{each errors}}
        <div class="padding">{{message}}</div>
    {{end each}}

    {{each trips}}
        <a href="#trip/{{id}}">
            <div class="well well-sm">
                <div class="row">
                    <span class="col-xs-3 text-info">
                        {{displayStartDate}}
                    </span>
                    <span class="col-xs-6">
                        {{title}}
                    </span>
                    <span class="col-xs-2 text-success">
                        {{occupiedSeats}}
                    </span>
                </div>
            </div>
        </a>
    {{end each}}

    {{each newTrips}}
        <a href="#editTrip/newTrip/{{date}}">
            <div class="well well-sm">
                <div class="row">
                    <span class="col-xs-12">
                        + {{title}}
                    </span>
                </div>
            </div>
        </a>
    {{end each}}
</div>